<div class="cntr">
    <div class="cntr-innr">
      <label class="search" for="search_bar">
        <input id="search_bar" (keyup.enter)="searchCity($event)" type="text" />
      </label>
    </div>
  </div>


<div class="location">
  <h2 id="location-city"></h2>
  <img id="location-icon">
</div>
<div class="outfit">
  <img id="outfit" width="100px" height = "100px">
</div>
<div class="temperature">
  <div class="degree-section" (click)="switchTempUnit()">
      <h2 id="temperature-degree"></h2>
      <p id="temperature-unit"></p>
  </div>
  <div id="temperature-condition">/div>
</div>